<footer>
  <div class="f-info">
    <div class="p-4 f-heder d-flex justify-content-between">
      <img
        width="130"
        height="25"
        src="https://b.zmtcdn.com/web_assets/b40b97e677bc7b2ca77c58c61db266fe1603954218.png"
        alt=""
      />

      <div class="btn-group gap-3" role="group">
        <button
          type="button"
          class="btn btn-outline-secondary dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          India
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">India</a></li>
          <li><a class="dropdown-item" href="#">UAE</a></li>
        </ul>

        <button
          type="button"
          class="btn btn-outline-secondary rounded dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          English
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">English</a></li>
          <li><a class="dropdown-item" href="#">Italian</a></li>
        </ul>
      </div>
    </div>

    <div class="d-flex text-start">
      <div class="row px-5 f-box row-cols-4">
        <div class="col fw-semibold mb-2">ABOUT ZOMATO</div>
        <div class="col fw-semibold mb-2">ZOMAVERSE</div>
        <div class="col fw-semibold mb-2">FOR RESTAURANTS</div>
        <div class="col fw-semibold mb-2">LEARN MORE</div>

        <div class="col text-secondary">Who We Are</div>
        <div class="col text-secondary">Zomato</div>
        <div class="col text-secondary">Partner With Us</div>
        <div class="col text-secondary">Privacy</div>
        <div class="col text-secondary">Blog</div>
        <div class="col text-secondary">Blinkit</div>
        <div class="col text-secondary">Apps For You</div>
        <div class="col text-secondary">Security</div>

        <div class="col text-secondary">Work With Us</div>
        <div class="col text-secondary">Feeding India</div>
        <div class="col text-secondary"></div>
        <div class="col text-secondary">Terms</div>

        <div class="col text-secondary">Investor Relations</div>
        <div class="col text-secondary">Hyperpure</div>
        <div class="col text-secondary"></div>
        <div class="col text-secondary">Sitemap</div>

        <div class="col text-secondary">Report Fraud</div>
        <div class="col text-secondary">Zomaland</div>
        <div class="col text-secondary"></div>
        <div class="col text-secondary"></div>

        <div class="col text-secondary">Press Kit</div>
        <div class="col text-secondary"></div>
        <div class="col text-secondary"></div>
        <div class="col text-secondary"></div>

        <div class="col text-secondary">Contact Us</div>
      </div>
      <div class="f-info-socils px-2">
        <div
          class="link mb-3 align-items-center justify-content-center text-center"
        >
          <div class="col fw-semibold mb-1">SOCIAL LINKS</div>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-square-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-facebook"></i>
        </div>

        <div
          class="box d-flex justify-content-center align-items-center flex-column gap-1"
        >
          <img
            width="150"
            alt="image"
            src="https://b.zmtcdn.com/data/webuikit/9f0c85a5e33adb783fa0aef667075f9e1556003622.png"
            loading="lazy"
            class="sc-s1isp7-5 fyZwWD"
          />

          <img
            width="150"
            alt="image"
            src="https://b.zmtcdn.com/data/webuikit/23e930757c3df49840c482a8638bf5c31556001144.png"
            loading="lazy"
            class="sc-s1isp7-5 fyZwWD"
          />
        </div>
      </div>
    </div>
    <div class="copyright mx-5">
      <hr />
      <p class="text-secondary pb-3 fs-6">
        By continuing past this page, you agree to our Terms of Service, Cookie
        Policy, Privacy Policy and Content Policies. All trademarks are
        properties of their respective owners. 2008-2024 © Zomato™ Ltd. All
        rights reserved.
      </p>
    </div>
  </div>
</footer>
