<div class="container">
  <nav class="navbar navbar-expand-md bg-body-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="https://b.zmtcdn.com/web_assets/b40b97e677bc7b2ca77c58c61db266fe1603954218.png"
          alt=""
          width="130"
          height="25"
        />
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse shadow-sm navbar-collapse py-2 ms-3 border border-light-subtle rounded"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav me-5 mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Kolkata
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#"
                  ><i
                    class="fa-solid fa-location-crosshairs"
                    style="color: #ff7e8b"
                  ></i>
                  Detect current location</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <form class="d-flex w-100 align-items-center ms-1" role="search">
          <i
            class="fa-solid fa-magnifying-glass"
            style="color: rgb(133, 132, 132)"
          ></i>
          <input
            id="searchInput"
            class="form-control border-0 me-2"
            type="search"
            placeholder="Search for restaurant, cuisine or a dish"
            aria-label="Search"
          />
        </form>
      </div>

      <ul class="navbar-nav ms-2 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Log in</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Sign up</a>
        </li>
      </ul>
    </div>


    <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" class="btn btn-white position-relative">

      <i class="fa-solid fa-cart-shopping"></i>
  
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill noti bg-success visually-hidden">
        
        <span class="visually-hidden">unread messages</span>
      </span>
    </button>

  </nav>
</div>

<div class="item-box">
  <!-- go to show route -->
</div>


 <!-- for open orderlist -->

 <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Your Cart</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <!-- orderItems -->

  </div>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"
  integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>







<!-- for open orderlist -->

<!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    ...
  </div>
</div> -->