
<div class="container">

    <nav class="navbar navbar-expand-lg bg-body-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
      <img
      src="https://b.zmtcdn.com/web_assets/b40b97e677bc7b2ca77c58c61db266fe1603954218.png"
      alt="Bootstrap"
      width="130"
      height="25"
      />
    </a>
    
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-3 border rounded" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
       
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >
            Kolkata
          </a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Detect current location</a></li>
          </ul>
        </li>
    </ul>
    
    
    <form class="d-flex ms-8" role="search">
        <input
        class="form-control me-2"
        type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
      </form>
      
    </div>

    <ul class="navbar-nav mb-2 mb-lg-0">
    
        <li class="nav-item">
            <a class="nav-link" href="#">Log in</a>
          </li>
          
          <li class="nav-item">
              <a class="nav-link" href="#">Sign up</a>
          </li>
      </ul>
</div>
</nav>

</div>
